<div class="body">
    <div class="login">
        <h1>login</h1>
        <img src="../../../assets/img/loginUser.png" alt="Login">
        <br><br>
        <form class="form">
            <mat-form-field class="input" appearance="fill">
              <mat-label >Email</mat-label>
              <input  matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="" value="">
              </mat-form-field>
        </form>
        <button mat-raised-button color="primary">Aceptar</button>
    </div>
</div>

